USE [master]
GO
/****** Object:  Database [learnthrough]    Script Date: 2020/5/23 9:15:22 ******/
CREATE DATABASE [learnthrough]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'learnthrough', FILENAME = N'D:\SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\learnthrough.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'learnthrough_log', FILENAME = N'D:\SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\learnthrough_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [learnthrough].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [learnthrough]
GO
/****** Object:  Table [dbo].[display]    Script Date: 2020/5/23 9:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[display](
	[english] [nchar](10) NULL,
	[chinese] [nchar](10) NULL,
	[id] [int] NOT NULL,
	[isok] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
